@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Prof. Dr.-Ing. Jörn Schlingensiepen
    Labor für Ingenieurinformatik und computergestützte Mathematik (i2cm)
    TH Ingolstadt
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:schlingensiepen@thi.de">
        schlingensiepen@thi.de
    </a><br />
</address>